In [53]:
import requests
import pandas as pd
import pylab as py
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [54]:
df = pd.read_excel('data.xlsx', header=2)

In [55]:
df.head()

,Unnamed: 0,Year,Electricity Generation,Transportation,Industry,Agriculture,Commercial,Residential,U.S. Territories,Total
0,NaN,1990,1875.593659,1527.071188,1628.676867,598.967218,428.668347,344.701666,33.321186,6437.000131
1,NaN,1991,1871.622530,1480.927212,1602.045952,589.682520,435.610013,354.247606,39.123871,6373.259703
2,NaN,1992,1886.593971,1540.530936,1633.075916,590.570246,431.178707,360.821161,37.315650,6480.086588
3,NaN,1993,1962.354970,1577.519112,1602.408186,618.614388,424.627494,372.164956,39.085447,6596.774554
4,NaN,1994,1987.151999,1632.153745,1628.107251,605.833117,428.065622,362.939297,41.479440,6685.730471

In [74]:
df = df.drop(columns = ['Unnamed: 0'])

In [81]:
df.head()

,Year,Electricity Generation,Transportation,Industry,Agriculture,Commercial,Residential,U.S. Territories,Total
1,1991,1871.622530,1480.927212,1602.045952,589.682520,435.610013,354.247606,39.123871,6373.259703
2,1992,1886.593971,1540.530936,1633.075916,590.570246,431.178707,360.821161,37.315650,6480.086588
3,1993,1962.354970,1577.519112,1602.408186,618.614388,424.627494,372.164956,39.085447,6596.774554
4,1994,1987.151999,1632.153745,1628.107251,605.833117,428.065622,362.939297,41.479440,6685.730471
5,1995,2003.872715,1667.328361,1646.809850,618.137934,427.284274,367.158678,40.423829,6771.015640

In [56]:
analyze = df[['Year ','Electricity Generation','Transportation','Industry','Agriculture','Residential']]

In [57]:
val= np.random.rand(len(analyze)) < 0.5
val

array([ True,  True, False, False,  True, False,  True, False, False,
        True, False, False,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True, False,  True,  True,
        True,  True])

In [63]:
training = analyze[val]
testing = analyze[~val]

In [82]:
regression = linear_model.LinearRegression()
x = np.asanyarray(training[['Year ','Transportation','Industry','Agriculture','Residential']])
y = np.asanyarray(training[['Electricity Generation']])

In [65]:
regression.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [66]:
print('Multivariate Linear Regression Coefficients: ', regression.coef_)

Multivariate Linear Regression Coefficients:  [[-40.39578901   1.68153112  -1.73685254   3.69389151   0.5883426 ]]

In [67]:
y_diff = regression.predict(testing[['Year ','Transportation','Industry','Agriculture','Residential']])
x = np.asanyarray(testing[['Year ','Transportation','Industry','Agriculture','Residential']])
y = np.asanyarray(testing[['Electricity Generation',]])

In [69]:
print(regression.score(x,y))

0.5510480408456735